/* .productContainer {
	width: 80%;
	min-height: 4em;
	margin: 0.5em auto;
	display: flex;
	flex-direction: row;
	justify-content: space-center;
	border-radius: 0.2em;
	outline: 0.2em solid #59382c;
} */
.productContainer:hover {
	background-color: #3f8c70c0;
}

/* .itemParagraph {
	width: 8em;
	padding: 0;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 600;
	text-align: center;
	display: flex;
	justify-content: left;
	overflow: inherit;
} */

.productButton {
	margin: 1em 0;
	margin-left: 6em;
	width: 5%;
	max-height: 3em;
	background-color: rgba(240, 248, 255, 0);
	border: none;
	cursor: pointer;
	border-radius: 2em;
}

.productButton:hover {
	outline: 0.2em solid #59382c;
	width: 6%;
	max-height: 3em;
}

.productButton:active {
	outline: 0.3em solid #59382c;
}

.iconImage {
	max-width: 100%;
	max-height: 100%;
}

/* Paragrhap styles */
#pName {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.expiry-danger,
.expiry-warning,
.expiry-safe {
	text-decoration: underline;
	padding: 0.1em;
}

.expiry-danger {
	border: 2px solid #bf343f;
	box-shadow: 4px 4px #bf3440be;
}

.expiry-warning {
	border: 2px solid #f26938;
	box-shadow: 4px 4px #f26a38c9;
}

.expiry-safe {
	border: 2px solid #99bf0f;
	box-shadow: 4px 4px #99bf0fd5;
}

.expired{
	border: 3px solid #8b0000; 
    box-shadow: 0 0 10px 4px #8b0000; 
    background-color: #ffe5e5; 
}

.lowStock{
	background-color: rgb(187, 139, 139);
}


.lowStock:hover{
	background-color: rgb(187, 139, 139);
}



.productContainer {
	width: 80%;
	min-height: 4em;
	margin: 0.5em auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 0.2em;
	outline: 0.2em solid #59382c;
}

.itemParagraph {
	flex: 1 1 0;
	padding: 0;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: 600;
	text-align: center;
	display: flex;
	justify-content: center; 
	align-items: center;
	overflow: hidden;
	word-break: break-word;
}
